* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

content {
  position: absolute;
  margin: 10px;
  width: 100%;
  max-width: calc(520px - 20px);
  height: 100%;
  max-height: calc(100% - 20px);
  border-radius: 20px;
  border-color: #00a99d;
  background-color: white;
}

@media (max-width: 520px) {
  content {
    max-width: calc(370px - 20px);
  }
}
